<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Business Revolution</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'innovator/img/favicon.png'%}" rel="icon">
  <link href="{% static 'innovator/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'innovator/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'innovator/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'innovator/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'innovator/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'innovator/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'innovator/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{% static 'innovator/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'innovator/css/style.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'innovator/nicepage.css'%}" media="screen">
    <link rel="stylesheet" href="{% static 'innovator/Contact.css'%}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'innovator/jquery.js'%}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'innovator/nicepage.js'%}" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|PT+Sans+Caption:400,700">


  <!-- =======================================================
  * Template Name: Arsha - v4.10.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

{% include "innovator/header.html" %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                 data-aos="fade-up" data-aos-delay="200">
                <h1>Better Solutions For Your Business</h1>
                <h2>We are team of talented designers making websites with Bootstrap</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="upload" class="btn-get-started scrollto">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="{% static 'innovator/img/hero-img.png'%}" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<section class="u-align-center u-clearfix u-image u-section-1" id="carousel_fc0b" data-image-width="1980"
         data-image-height="1320">
    <div class="u-clearfix u-sheet u-valign-bottom-sm u-sheet-1">
        <h2 class="u-text u-text-1" style="color:#1f428eeb;">Profile</h2>
        <div class="u-clearfix u-expanded-width u-gutter-100 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-layout-cell u-size-31 u-layout-cell-1" style="min-height: 725px;  border: 43px solid black;">
                        <div class="u-container-layout u-container-layout-1">
                            <div class="u-expanded-width u-form u-form-1">
                                <form action="profile" method="post" style="padding: 10px;">
                                    {% csrf_token %}
                                    <div class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form">
                                        <div class="u-form-group u-form-name">
                                            <label for="name-2145" class="u-label">Name</label>
                                            <input type="text" id="name-2145" value="{{request.session.username}}"
                                                   name="username"
                                                   class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"
                                                   required="">
                                        </div>
                                        <div class="u-form-email u-form-group">
                                            <label for="email-2145" class="u-label">Email</label>
                                            <input type="email" id="email-2145" value="{{request.session.email1}}"
                                                   name="email1"
                                                   class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"
                                                   required="">
                                        </div>
                                        <div class="u-form-group u-form-group-3">
                                            <label for="text-b641" class="u-label">Phone</label>
                                            <input type="text" id="text-b641" value="{{request.session.phoneno}}"
                                                   name="phoneno"
                                                   class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"
                                                   required="required">
                                        </div>
                                        <div class="u-form-group u-form-group-4">
                                            <label for="text-37e0" class="u-label">password</label>
                                            <input type="password" id="text-37e0" name="password1"
                                                   value="{{request.session.password1}}"
                                                   class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"
                                                   maxlength="12">
                                        </div>
                                        <a href="password" style= "width:460px;  text-align:right;; ">Forgot password</a>
                                        <div class="u-align-left u-form-group u-form-submit">
                                            <button class="u-active-palette-4-light-2 u-border-none u-btn u-btn-submit u-button-style u-custom-color-1 u-hover-black u-btn-1">
                                                Edit
                                                Profile<br>
                                            </button>&nbsp;

                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-custom-color-1 u-layout-cell u-size-29 u-layout-cell-2" style="min-height: 725px;  border: 43px solid black;">
                        <div class="u-container-layout u-valign-bottom-lg u-container-layout-2" >
                            <img class="u-image u-image-circle u-preserve-proportions u-image-1" style="margin:40px;"
                                 src="{% static 'innovator/img/3.jpg'%}" alt="" data-image-width="405"
                                 data-image-height="405">
                            <h3 class="u-custom-font u-text u-text-default u-text-2"> Hello, I'm
                                {{request.session.username}}</h3>
                            <a href="home"
                               class="u-border-none u-btn u-btn-round u-button-style u-hover-black u-hover-feature u-palette-5-light-3 u-radius-18 u-text-grey-90 u-text-hover-white u-btn-3">home</a>

                            <a href="profile"
                               class="u-border-none u-btn u-btn-round u-button-style u-hover-black u-hover-feature u-palette-5-light-3 u-radius-18 u-text-grey-90 u-text-hover-white u-btn-3">Profile</a>
                            <a href="order"
                               class="u-border-none u-btn u-btn-round u-button-style u-hover-black u-hover-feature u-palette-5-light-3 u-radius-18 u-text-grey-90 u-text-hover-white u-btn-4">My
                                Order</a>
                            <a href="logout"
                               class="u-border-none u-btn u-btn-round u-button-style u-hover-black u-hover-feature u-palette-5-light-3 u-radius-18 u-text-grey-90 u-text-hover-white u-btn-5">LogOut</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

  <footer id="footer">

<!--    <div class="footer-newsletter">-->
<!--      <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--          <div class="col-lg-6">-->
<!--            <h4>Join Our Newsletter</h4>-->
<!--            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>-->
<!--            <form action="" method="post">-->
<!--              <input type="email" name="email"><input type="submit" value="Subscribe">-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Business Revolution </h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

<!--    <div class="container footer-bottom clearfix">-->
<!--      <div class="copyright">-->
<!--        &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved-->
<!--      </div>-->
<!--      <div class="credits">-->
<!--        &lt;!&ndash; All the links in the footer should remain intact. &ndash;&gt;-->
<!--        &lt;!&ndash; You can delete the links only if you purchased the pro version. &ndash;&gt;-->
<!--        &lt;!&ndash; Licensing information: https://bootstrapmade.com/license/ &ndash;&gt;-->
<!--        &lt;!&ndash; Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ &ndash;&gt;-->
<!--        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
<!--      </div>-->
<!--    </div>-->
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'innovator/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'innovator/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'innovator/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'innovator/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'innovator/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'innovator/vendor/waypoints/noframework.waypoints.js'%}"></script>
  <script src="{% static 'innovator/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'innovator/js/main.js'%}"></script>

</body>

</html>