{% load static %}

<!-- Footer Start -->
<div class="container-fluid bg-dark text-light mt-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-4 col-md-6 footer-about">
                <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-primary p-4">
                    <a href="index.html" class="navbar-brand">
                        <h3 class="m-0 text-white"><i class="fa fa-user-tie me-2"></i>Business Revolution</h3>
                    </a>
                    <p class="mt-3 mb-4">Overall, the business revolution has transformed the way that we live, work, and do
                        business. It has opened up new opportunities and possibilities for innovation
                        and growth, while also posing new challenges and risks. At our website.</p>
                    <form action="subscribe2" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="email" name="email" class="form-control border-white p-3" placeholder="Your Email">
                            <button class="btn btn-dark">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-8 col-md-6">
                <div class="row gx-5">
                    <div class="col-lg-4 col-md-12 pt-5 mb-5">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="text-light mb-0">Get In Touch</h3>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-geo-alt text-primary me-2"></i>
                            <p class="mb-0">Ahmedabad, Gujarat, India</p>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-envelope-open text-primary me-2"></i>
                            <p class="mb-0">businessrevolutionrgc@gmail.com</p>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-telephone text-primary me-2"></i>
                            <p class="mb-0">+91 95862 88249</p>
                        </div>
                        <div class="d-flex mt-4">
                            <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" target="_blank" href="https://twitter.com/businessrevolu4?t=wBvtKqtihtFnyYaKuCYbPg&s=09"><i
                        class="fab fa-twitter fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://www.facebook.com/profile.php?id=100092135042556&mibextid=ZbWKwL" target="_blank"><i
                        class="fab fa-facebook-f fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://www.linkedin.com/in/business-revolution-502b71263/" target="_blank"><i
                        class="fab fa-linkedin-in fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://instagram.com/business_revolution_rgc?igshid=YmMyMTA2M2Y=" target="_blank"><i
                        class="fab fa-instagram fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 pt-5 pt-lg-5 mb-5">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="text-light mb-0">Quick Links</h3>
                        </div>
                        <div class="link-animated d-flex flex-column justify-content-start">
                            <a class="text-light mb-2" href="home"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                            <a class="text-light mb-2" href="about"><i class="bi bi-arrow-right text-primary me-2"></i>About
                                Us</a>
<!--                            <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Our-->
<!--                                Services</a>-->
                            <a class="text-light mb-2" href="team"><i class="bi bi-arrow-right text-primary me-2"></i>Meet
                                The Team</a>
                            <a class="text-light mb-2" href="idea"><i class="bi bi-arrow-right text-primary me-2"></i>Latest
                                ideas</a>
                            <a class="text-light" href="contact"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="text-light mb-0">Popular Links</h3>
                        </div>
                        <div class="link-animated d-flex flex-column justify-content-start">
                             <a class="text-light mb-2" href="home"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                            <a class="text-light mb-2" href="about"><i class="bi bi-arrow-right text-primary me-2"></i>About
                                Us</a>
<!--                            <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Our-->
<!--                                Services</a>-->
                            <a class="text-light mb-2" href="team"><i class="bi bi-arrow-right text-primary me-2"></i>Meet
                                The Team</a>
                            <a class="text-light mb-2" href="idea"><i class="bi bi-arrow-right text-primary me-2"></i>Latest
                                ideas</a>
                            <a class="text-light" href="contact"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-white" style="background: #061429;">
    <div class="container text-center">
        <div class="row justify-content-end">
            <div class="col-lg-8 col-md-6">
                <div class="d-flex align-items-center justify-content-center" style="height: 75px;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
